@font-face {
    font-family: NotoSerifDisplay-Bold; /* Гарнитура шрифта */
    src: url(fonts/NotoSerifDisplay-Bold.ttf) /* Путь к файлу со шрифтом */
   }


body {
        font-family: "Trebuchet MS", Verdana;
        background-position: left bottom;
        background-image: url(../img/patt3.png);
        background-repeat: repeat;
        background-size: 20%;
        margin: 0px;
        padding: 0px;
        min-width: 1200px;
        position: relative;
        height:100%;
        width:100%;
}

#wrapper {
        max-width:1300px ;
  	margin: auto;
	padding: 0;
	width: 75%;
	position: relative;
}

#header {
        background-image: url(../img/HeaderBook.png);
        background-size: 100% 100%;
/*        box-shadow: 2px 0px rgba(180,180,180,1); */
	text-align:left;
/*        background-color: rgba(255,255,255,1);*/
	margin: 0px 20px;
        padding: 0px;
  	height:auto;
	min-height:130px;
        position: relative;
}

/*#header h1{
        margin: auto 0 auto 0;
        bottom: 16%;
        color: rgba(51,102,153,1);
        font-family: NotoSerifDisplay-Bold,"Comic Sans MS",TenorSans-Regular,"Trebuchet MS", Verdana;
        font-size: 420%;
        font-weight: 420;
        width: 100%;
        display: block;
        position: absolute;
}*/

#mainMenu {
/*        box-shadow: 2px 2px rgba(180,180,180,1);*/
        width: 100%;
	color:rgba(0,0,0,1);
	padding: 0px;
	min-height: 40px;
	text-align:center;
	display: flex;
	justify-content: center;
        border: solid 1px lightblue;
}

.button {
	width: 20%;
	margin: 0px;
	padding: 0px;
	height: 100%;
	vertical-align:bottom;
	font: 137%/2.2 "Trebuchet MS", Verdana;
	font-weight:400;
	/*flex-grow:1;*/
/*	display:inline-block;*/
}

.button a {
	background-color: rgba(255,204,0,1);
	color:rgba(0,0,0,1);
	display:block;
	height:100%;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
}

.button a:hover{
        box-shadow: 0px 6px rgba(150,150,150,1);
	background-color: #FFF700;
}

#footer {
	text-align:center;
	}

#content{
        box-shadow: 0 0 40px 2px rgba(255,255,255,0.6);
	border-radius:10px;
	background-color: rgba(255,255,255,1);
	vertical-align:top;
	min-height:700px;
	width:90%;
	padding-top:40px;
	padding-bottom:20px;
        padding-left: 5%;
        padding-right: 5%;
	margin:15px auto 0 auto;
}

#content p{
        font-family: "Trebuchet MS", Verdana;
        font-size: 100%;
        margin-top: 0;
        margin-bottom: 0;
}

#content p b{
        line-height: 150%;
}

/*Оформление таблиц*/
#booktable{
/*    box-shadow: 0px 0px 2px rgba(100,100,100,0.9);*/
        border: 2px solid white;
        border-spacing: 6px;
        border-collapse: separate;
}

td {
        min-width: 100px;
        background: aquamarine;
}

#firstrow {
        background: lightpink;
}

.authorrow {
        background: lightblue;
}

.notrow {
        background: none;
        height: 5px;
}

td, th {
        padding: 6px 10px 6px 10px;
}
        /* Конец оформления таблиц*/

/*Стили для кнопки отправки формы*/
#ready {
        font: 150% "Trebuchet MS", Tahoma, Verdana; 
        background-color: rgba(255,204,0,1);
        color: black;
}

#ready:hover {
        background-color: #FFF700;
        color: black;
}/*Конец стилей для кнопки отправки формы*/

#iam {
    float: left;
    width: 32%;
    box-shadow: 0px 0px 5px 1px rgba(100,100,220,1);
}